<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eastar.pref.androidmanifest">

    <application>
        <provider
            android:name="dev.eastar.sharedpreferences.PrefInitializerProvider"
            android:authorities="${applicationId}.preference"
            android:exported="false" />
    </application>
</manifest>
